h1{
    color: teal;
    font-size: 32px;
    width:100%;
    text-align: center;
}
h2{
    color: teal;
    font-size: 26px;
    width:100%;
    text-align: center;
}

body{
    background-color: wheat;
}
.records{
    width: 80%;
    margin: 0 auto;
}